<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Optional: avoid ChromeOS warning about locked orientation -->
        <meta-data
            android:name="android.app.ignore_orientation_request"
            android:value="true" />

        <activity
            android:name=".MoveTopActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LunaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MpuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChoiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connect"
            android:exported="true"
            android:label="spinner"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".operate"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
